
/* 
    Created on : Oct 8, 2017, 2:17:22 PM
    Author     : admin
*/

@import "../bower_components/bootstrap/scss/bootstrap.scss"; 

body {
    min-height: 75rem; /* Can be removed; just added for demo purposes */
}

//icons 

.svg-icon {
    display: inline-block;
    line-height: 1;
    min-height: 1em; // Avoid cluttering once svg loaded

    svg,
    img {
        height: 1em; 
        width: 1em; 
    }

    svg {
        fill: currentColor;
        overflow: hidden;
        position: relative;
        vertical-align: top;
    }

    &.s48 svg {
        width: 1.5em;
    }

    &.s64 svg {
        width: 2em; 
    }

}

//grid 




//HELPERS
.ac {
    text-align: center;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
}

.extend-content {
    // margin-left: -15px;
    //margin-right: -15px;
}

//BUTTONS
.more-btn {
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    font-size: 12px;
    color: #000;
    padding: 14px 20px 14px 20px;
    white-space: nowrap;
    transition: all .3s;

    &:active, &:focus {
        color: #fff;
        background: #FC0000;
        outline: none;
    }
}

//TITLES
.nav-ttl {
    font-size: 14px;
    color: #fff;
}

@media (min-width: 960px) {
    .nav-ttl {
        font-size: 18px;
    }
}

.logo-ttl {
    font-size: 22px;
    color: #fff
}

//BASE
.navbar {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 10px;
}

.mb2 {
    margin-bottom: 20px;
}
.bg-dark {
    background: #000 !important;
}

.jumbotron {
    background: linear-gradient(to top,rgba(255,255,255,0) 0,rgba(0,0,0,.8) 100%);
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

@media (max-width: 575px) {
    .jumbotron-heading {
        font-weight: 600;
    }
}

.jumbotron .container {
    max-width: 40rem;
}

.album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
}


//BANNER
.banner {
    position: relative;

    &-ttl {
        font-weight: 300;
        font-size: 30px;
        color: #fff;
    }

    &-subttl {
        font-weight: 700;
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            min-width: 100%; 
            min-height: 100%;
            transform: translate(-50%,-50%);
        }
    }
}

@media (min-width: 960px) {
    .banner__bg {
        video {
            transform: none;
        }
    }
}

@media (min-width: 960px) {
    .banner-ttl {
        font-size: 90px;
    }
}


//CARD
.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;

    &-container {
        margin-bottom: 24px;
        border-bottom: 1px solid #f2f2f2;
    }

    &-ttl {
        color: #000;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 14px;
        width: 100%;
    }

    &-text {
        color: #000;
        font-size: 14px;
        margin-bottom: 0;
    }

    &-img {
        margin-bottom: 8px;
    }

    &-count, &-day {
        font-size: 12px;
        color: #757575;
    }

    &-count {
        margin-right: 20px;
    }
}

.card > img {
    margin-bottom: 10px;
}

@media (min-width: 960px) {
    .card-ttl {
        font-size: 30px;
    }
}


//DESC-SEC
.desc-sec {
    background-color: #F5F5F5;

    &__list {
        padding : 60px 20px;

    }

    &__item {
        list-style: none;
        display: inline-block;
    }

    &__img {
        height: 60px;
        margin-bottom: 26px;
        width: 50px;
    }

    &__text {
        font-size: 20px;
        line-height: 1.6;
    }
}

@media (max-width: 575px) {
    .desc-sec {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        &__list {
            padding: 60px 20px;
            display: flex;
            font-size: 0;
            white-space: nowrap;
            flex-wrap: nowrap;
        }

        &__item {
            list-style: none;
            display: inline-block;
            flex-shrink: 0;
            vertical-align: top;
            white-space: normal;
            width: 60vw;
            padding-right: 15px;

            &:first-child {
                margin-left: 15px;
            }

        }

        &__img {
            height: 60px;
            margin-bottom: 26px;
            width: 50px;
        }

        &__text {
            font-size: 20px;
            line-height: 1.6;
        }
    }

}

@media (min-width: 960px) {
    .desc-sec {
        overflow-x: hidden;
        overflow-y: hidden;

    }
}


//INVITE-SEC
.invite-sec {
    padding: 40px 0 60px 0;
    position: relative;

    &__banner {
        background-image: url('dist/images/camera.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
    }

    &__ttl {
        font-size: 26px;
        margin-bottom: 30px;
    }

    &__txt {
        color: #757575;
        margin-bottom: 30px;
        line-height: 1.6;
    }

    &__btn {
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        color: #212121;
        font-size: 18px;
        padding: 16px 0;
        width: 200px;

        &:active, &:focus {
            color: #fff;
            background: #FC0000;
            outline: none;
        }
    }    
}

@media (min-width: 960px) {
    .invite-sec {
        padding: 60px 0 100px 0;

        &__ttl {
            font-size: 40px;
        }

        &__txt {
            font-size: 22px;
        }

        &__btn {
            border: 1px solid #f2f2f2;
            color: #212121;
            font-size: 22px;
            padding: 22px 0;
            width: 300px;

            &:hover, &:active, &:focus {
                color: #fff;
                background: #e10a19;
            }
        }
    }
}

//FOOTER

.footer-sec {
    background: #000;
    color: #fff;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;

    p {
        margin-bottom: .25rem;
    }

}

.nav-subnav {

    &__list {
        display: block;
        width: 100%;
    }

    &__item {
        padding: 10px;
    }

    &__link {
        font-size: 14px;
    }
}


//Details

.detail-wrap {
    margin: 20px 0;

    &__content {
        position: relative;
    }

    &__img {
        margin-bottom: 14px;

        img {
            width: 100%;
        }
    }

    &__duration {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 50%;
    }

    &__ttl {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px
    }

    &__subttl {
        font-size: 14px;
        color: #757575;
        text-transform: capitalize;
        margin-bottom: 16px;
    }

    &__wrap {
        margin-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
    }

    &__iconwrap {
        margin-bottom: 20px;
    }

    &__icon {
        font-size: 18px;
        margin-right: 8px;
    }

    &__count {
        font-size: 14px;
        margin-right: 10px;
    }

    &__left {
        display: inline-block;
    }

    &__right {
        display: inline-block;
        float: right;
    }

    &__ryticon {
        font-size: 18px;

        &:not(:last-child) {
            margin-right: 20px;

        }

    }
}

.detail-list {

    &__ttl {
        font-size: 16px;
        margin-bottom: 16px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: block;
        margin-bottom: 10px;
    }

    &__link {
        color: #212121;
        display: block;
    }

    &__wrap {
        display: inline-block;
    }

    &__fig {
        margin-right: 10px;
        float: left;

        img {
            width: 160px;
            height: 90px;
            overflow: hidden;
            position: relative; 
        }
    }

    &__img {
        margin-right: 10px;
        float: left;

        img {
            width: 250px;
            height: 148px;
            overflow: hidden;
            position: relative;
        }
    }

    &__subttl {
        font-size: 14px;
        margin-bottom: 5px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    &__name {
        margin-bottom: 5px;
        font-size: 13px;
    }

    &__views {
        margin-bottom: 5px;
        font-size: 12px;
    }

    &__author {
        display: flex;
        margin-bottom: 20px;
    }

    &__authorimg {
        margin-right: 16px;

        img {
            flex: 1;
            border-radius: 50%; 
            height: 65px;
            width: 65px;
        }
    }

    &__flex {
        flex: 1;
    }

    &__authorname {
        font-size: 14px;
        margin-bottom: 6px;
    }

    &__date {
        color: #757575;
        font-size: 13px;
    }

    &__desc {
        border-bottom: 1px solid #f2f2f2;
        font-size: 14px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

.upload-container {
    margin-bottom: 10px;
    position: relative;

    &__box {
        background-color: #fff;
        text-align: center;
        margin-bottom: 10px;
    }

    @media (min-width: 960px) {
        .upload-container__box {
            min-height: 320px;
        }
    }

    &__wrapper {
        margin: 65px 0 20px;
        display: inline-block;
    }

    &__btn {
        height: auto;
        background: none;
        box-shadow: none;
        border: 1px solid transparent;
    }

    &__ttl {
        color: #444;
        display: block;
        font-size: 20px;
        margin: 15px 0 10px;
    }

    &__subttl {
        color: #666;
        font-size: 15px;
        padding: 7px;
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 99;
        width: 100%;
        cursor: pointer;
    }
}

.upload-footer {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin-bottom: 10px;
    position: relative;
    padding: 15px;

    &__ttl {
        color: #444;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__txt {
        color: #666;
        font-size: 12px;
        line-height: 1.5em;
        margin-bottom: 10px;
        text-align: left;
    }

    &__list {
        line-height: 1.3em;
        list-style: disc outside;
        padding: 0;
    }

    &__item {
        display: inline;
        padding: 0 15px;
        border-left: 1px solid #666;

        &:first-child {
            border-left-style: none;
            padding-left: 0;
        }
    }

    &__link {
        color: #666;
        font-size: 12px;
    }
}

.upload-sidebar {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin-bottom: 10px;
    position: relative;
    padding: 15px;

    img {
        margin-right: 10px;
    }

    &__txt {
        font-size: 12px;
        line-height: 1.3em;
        color: #333;
        display: inline-block;
        margin-bottom: 16px;
    }

    &__ttl {
        color: #000;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__btn {
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(0,0,0,0.05);
        border-color: #d3d3d3;
        background: #f8f8f8;
        color: #333;
        display: inline-block;
        padding: 4px 10px;
        outline: 0;
        font-weight: 500;
        font-size: 11px;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        min-width: 80px;

        &:hover, &:active, &:focus {
            border-color: #c6c6c6;
            background-color: #e9e9e9;
        }
    }
}

.upload-detail {
    background-color: #fff;
    padding: 20px 15px;

    &__img {
        display: block;
        overflow: hidden;
        text-align: center;
        margin-bottom: 20px;

        img {
            height: auto;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            vertical-align: middle;
        }
    }

    &__status {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__subtxt {
        font-size: 13px;
        color: #757575;
        margin-bottom: 14px;
    }

    &__text {
        color: #757575;
        font-size: 13px;
        margin-bottom: 10px;
    }

    &__link {
        color: #007bff;
        display: block;
        font-size: 13px;
        margin-bottom: 14px;
    }

    &__content {
        font-size: 12px;
        line-height: 1.4;
    }

    &__progress {
        margin-bottom: 20px;
        display: block;
    }

    &__bar {
        height: 2rem;
        line-height: 2rem;
    }

    &__btn {
        background-color: #e10a19;
        border: 1px solid #e10a19;
        color: #fff;
        border: solid 1px transparent;
        padding: 8px 10px;
        min-width: 110px;
        outline: 0;
        font-weight: 500;
        font-size: 11px;
        text-decoration: none;
        white-space: nowrap;
        word-wrap: normal;
        line-height: normal;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    }

    &__txt {
        font-size: 14px;
        color: #000;
        margin-bottom: 24px;
    }

    &__info {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__input {
        font-size: 14px;
        margin-bottom: 24px;
    }

    &__thumb {
        margin-bottom: 14px;
        font-size: 14px;
        font-weight: 500;

        img {
            width: 120px;
            height: 100%;
            margin-right: 16px;
        }
    }
}

.upload-list {
    background-color: #fff;
    margin-bottom: 10px;

    &__head {
        text-align: center;
        padding: 12px;
        background-color: #337ab7;
    }

    &__list {
        list-style: none;
        padding: 12px 20px; 
        text-align: center;
        max-height: 220px;
        overflow-y: scroll;
    }

    &__item {
        border: 1px solid #337ab7;
        margin-bottom: 14px;
    }

    &__subhead {
        background-color: #d9edf7;
        padding: 10px;
    }

    &__subbody {
        display: inline-block;
        padding:15px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    &__rating, &__value {
        color: #000;
        font-size: 14px;
        margin-right: 10px;
    }

    &__ttl {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }

    &__subttl {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        padding: 20px 20px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

@media (min-width: 960px) {
    .swiper-container {
        height: 600px;
    }
}

.swiper-wrapper__btn {
    padding: 10px;
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    min-width: 110px;

    .swiper-wrapper__btn:hover, .swiper-wrapper__btn:active, .swiper-wrapper__btn:focus {
        background-color: #007aff;
    }
}

.swiper-wrapper__ttl {
    margin-bottom: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/* Text Overlay */
#lab_video_text_overlay h2 {
    font-size:4em
}

#lab_video_text_overlay .btn {
    border-radius:0;
    text-transform:uppercase;
    font-weight:200;
}
#lab_video_text_overlay .btn-warning {
    background-color:#F5D328;
}

#lab_video_text_overlay {
    position: absolute;
    color: #FFF;
    width: 100%;
    top: 25%;
}

#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
    //  background-color: #669900;
}

@media screen and (max-width:991px) {
    #lab_video_text_wrap {
        height: 300px;
    }
}

@media screen and (max-width:650px) {
    #lab_video_text_wrap {
        height: 250px;
    }
    #lab_video_text_overlay h2 {
        font-size: 2em;
    }
    #lab_video_text_overlay p {
        font-size: .9em;
    }
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}